.size-modal-content {
  padding: 10px;
  font-style: 13px;
  text-align: center;
  p {
    font-size: calc(1.2vw + 1.2vh + 2vmin);
    color: #444;
  }
  .modal-buttons {
    button {
    border: 2px solid #757575;
    border-radius: 0 10%;
    background-color: white;
    color: #757575;
    margin: 20px;
padding: 10px;
font-size: large;
font-weight: bold;
    }
}

}

.v--modal-overlay[data-modal="size-modal"] {
  background: rgba(0, 0, 0, 0.5);
}

.demo-modal-class {
  border-radius: 5px;
  background: #f7f7f7;
  box-shadow: 5px 5px 30px 0px rgba(46, 61, 73, 0.6);
}